/* MenuPage1.css */

.app {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #fcfbfb;
  margin-bottom: 15px;
}
h3{
  color: white;
  margin-bottom: 15px;
}
.choices-container {
 display: flex;
  flex-direction: column;
  gap: 10px;
}

.choice {
  background-color: #e9818e;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  
}

.choice:hover {
  background-color: #45a049;
}

/* Additional styles for the "Game Over" message */
p {
  margin-top: 20px;
  font-size: 18px;
}

.choice.selected {
  background-color: #f9d72c; /* Green or any color you prefer */
  color: white;
}
button { 
  color: white;
  background-color: #45a049;
  height: 40px;
  width: 100px;
}
.answer-feedback{
  color: white;
  font-size: large;
  font-family:Arial, Helvetica, sans-serif;
}
.budget-info{
  color:rgb(227, 255, 127);
}
